.bg-dark{
    background-color: #FFA500 !important;
}
.navbar-dark .navbar-brand{
    color: #FFFFFF !important;
    font-family: Rakkas !important;
    font-size: 28px;
}
.nav-link{
    font-size: 18px !important;
    color:rgba(255, 255, 255, 0.7) !important;
}
.nav-link:hover{
    color: #FFFFFF !important;
}
.navbar-toggler-icon{
    color:rgba(255, 255, 255, 0.7) !important;
}

@media only screen and (min-width: 700px) {
    .navbar{
        padding :.5rem 2rem !important;
    }
}