.backLink,
.inputLabel {
  font-size: 20px !important;
  margin: 0 !important;
  color: black;
  font-weight: 400 !important;
}
.backLink {
  text-decoration: none !important;
}

@media (max-width: 800px) {
  .backLink,
  .inputLabel {
    font-size: 18px !important;
  }
}
