.super-admin-home{
    min-height: 100vh;
}
.userdetails .list{
    min-height: 100px;
    border-radius: 10px;
    background: #F2F2F2;
    overflow-x: scroll;
}
.userdetails .list::-webkit-scrollbar {
    display: none;
}
.userdetails .list img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.delete-btn{
    background: #FF0000;
    border-radius: 15px;
}
.delete-btn i{
    font-size: 18px;
    color: #fff;
}
@media(max-width: 1024px) {
    .userdetails .list img{
        width: 70px;
        height: 70px;
    }
    .userdetails .list h3{
        font-size: 20px;
    }
}
@media(max-width: 768px) {
    .userdetails .list img{
        width: 50px;
        height: 50px;
    }
    .userdetails .list h3{
        font-size: 17px;
    }
}